.dcm-animate-graphs .container {padding-right: 0; padding-left: 0;}
.dcm-animate-graphs .bg-midnight
{
  background: #2e1a47;
  border-right: 2px solid #fff;
}

.dcm-animate-graphs .progress-header {
  font-weight: 600;
  font-size: 2rem;
}

.dcm-animate-graphs .progress-label {
  margin: 0 0;
}

.dcm-animate-graphs .progress-label h6{
  margin-bottom: .3rem;
  color: #2e1a47;
  font-size: 1.6rem;
  padding-right: 45px;
}

.dcm-animate-graphs .progress {
  position: relative;
  overflow: visible;
  height: 30px;
  background: #e7e6ef;
  margin-bottom: 20px;
}

.dcm-animate-graphs .progress-bar {
  width: 0%;
  transition: width 1s ease-in-out;
}

.dcm-animate-graphs .progress-bar-fill {
position: absolute;
top: 4px;
left: 5px;
color: white;
font-size: 1.6rem;

}
 
.dcm-animate-graphs p {
  color: #707070;
  font-size: 1.6rem;
}

@media (min-width: 0px) and (max-width: 1023.98px) {}

@media (min-width: 0px) and (max-width: 767.98px) {
.dcm-animate-graphs   .progress-label h6{
    font-size: 1.6rem;
  }
}


.dcm-animate-graphs .p-1 .progress-bar {width: 1%;}
.dcm-animate-graphs .p-2 .progress-bar {width: 2%;}
.dcm-animate-graphs .p-3 .progress-bar {width: 3%;}
.dcm-animate-graphs .p-4 .progress-bar {width: 4%;}
.dcm-animate-graphs .p-5 .progress-bar {width: 5%;}
.dcm-animate-graphs .p-6 .progress-bar {width: 6%;}
.dcm-animate-graphs .p-7 .progress-bar {width: 7%;}
.dcm-animate-graphs .p-8 .progress-bar {width: 8%;}
.dcm-animate-graphs .p-9 .progress-bar {width: 9%;}
.dcm-animate-graphs .p-10 .progress-bar {width: 10%;}
.dcm-animate-graphs .p-11 .progress-bar {width: 11%;}
.dcm-animate-graphs .p-12 .progress-bar {width: 12%;}
.dcm-animate-graphs .p-13 .progress-bar {width: 13%;}
.dcm-animate-graphs .p-14 .progress-bar {width: 14%;}
.dcm-animate-graphs .p-15 .progress-bar {width: 15%;}
.dcm-animate-graphs .p-16 .progress-bar {width: 16%;}
.dcm-animate-graphs .p-17 .progress-bar {width: 17%;}
.dcm-animate-graphs .p-18 .progress-bar {width: 18%;}
.dcm-animate-graphs .p-19 .progress-bar {width: 19%;}
.dcm-animate-graphs .p-20 .progress-bar {width: 20%;}
.dcm-animate-graphs .p-21 .progress-bar {width: 21%;}
.dcm-animate-graphs .p-22 .progress-bar {width: 22%;}
.dcm-animate-graphs .p-23 .progress-bar {width: 23%;}
.dcm-animate-graphs .p-24 .progress-bar {width: 24%;}
.dcm-animate-graphs .p-25 .progress-bar {width: 25%;}
.dcm-animate-graphs .p-26 .progress-bar {width: 26%;}
.dcm-animate-graphs .p-27 .progress-bar {width: 27%;}
.dcm-animate-graphs .p-28 .progress-bar {width: 28%;}
.dcm-animate-graphs .p-29 .progress-bar {width: 29%;}
.dcm-animate-graphs .p-30 .progress-bar {width: 30%;}
.dcm-animate-graphs .p-31 .progress-bar {width: 31%;}
.dcm-animate-graphs .p-32 .progress-bar {width: 32%;}
.dcm-animate-graphs .p-33 .progress-bar {width: 33%;}
.dcm-animate-graphs .p-34 .progress-bar {width: 34%;}
.dcm-animate-graphs .p-35 .progress-bar {width: 35%;}
.dcm-animate-graphs .p-36 .progress-bar {width: 36%;}
.dcm-animate-graphs .p-37 .progress-bar {width: 37%;}
.dcm-animate-graphs .p-38 .progress-bar {width: 38%;}
.dcm-animate-graphs .p-39 .progress-bar {width: 39%;}
.dcm-animate-graphs .p-40 .progress-bar {width: 40%;}
.dcm-animate-graphs .p-41 .progress-bar {width: 41%;}
.dcm-animate-graphs .p-42 .progress-bar {width: 42%;}
.dcm-animate-graphs .p-43 .progress-bar {width: 43%;}
.dcm-animate-graphs .p-44 .progress-bar {width: 44%;}
.dcm-animate-graphs .p-45 .progress-bar {width: 45%;}
.dcm-animate-graphs .p-46 .progress-bar {width: 46%;}
.dcm-animate-graphs .p-47 .progress-bar {width: 47%;}
.dcm-animate-graphs .p-48 .progress-bar {width: 48%;}
.dcm-animate-graphs .p-49 .progress-bar {width: 49%;}
.dcm-animate-graphs .p-50 .progress-bar {width: 50%;}
.dcm-animate-graphs .p-51 .progress-bar {width: 51%;}
.dcm-animate-graphs .p-52 .progress-bar {width: 52%;}
.dcm-animate-graphs .p-53 .progress-bar {width: 53%;}
.dcm-animate-graphs .p-54 .progress-bar {width: 54%;}
.dcm-animate-graphs .p-55 .progress-bar {width: 55%;}
.dcm-animate-graphs .p-56 .progress-bar {width: 56%;}
.dcm-animate-graphs .p-57 .progress-bar {width: 57%;}
.dcm-animate-graphs .p-58 .progress-bar {width: 58%;}
.dcm-animate-graphs .p-59 .progress-bar {width: 59%;}
.dcm-animate-graphs .p-60 .progress-bar {width: 60%;}
.dcm-animate-graphs .p-61 .progress-bar {width: 61%;}
.dcm-animate-graphs .p-62 .progress-bar {width: 62%;}
.dcm-animate-graphs .p-63 .progress-bar {width: 63%;}
.dcm-animate-graphs .p-64 .progress-bar {width: 64%;}
.dcm-animate-graphs .p-65 .progress-bar {width: 65%;}
.dcm-animate-graphs .p-66 .progress-bar {width: 66%;}
.dcm-animate-graphs .p-67 .progress-bar {width: 67%;}
.dcm-animate-graphs .p-68 .progress-bar {width: 68%;}
.dcm-animate-graphs .p-69 .progress-bar {width: 69%;}
.dcm-animate-graphs .p-70 .progress-bar {width: 70%;}
.dcm-animate-graphs .p-71 .progress-bar {width: 71%;}
.dcm-animate-graphs .p-72 .progress-bar {width: 72%;}
.dcm-animate-graphs .p-73 .progress-bar {width: 73%;}
.dcm-animate-graphs .p-74 .progress-bar {width: 74%;}
.dcm-animate-graphs .p-75 .progress-bar {width: 75%;}
.dcm-animate-graphs .p-76 .progress-bar {width: 76%;}
.dcm-animate-graphs .p-77 .progress-bar {width: 77%;}
.dcm-animate-graphs .p-78 .progress-bar {width: 78%;}
.dcm-animate-graphs .p-79 .progress-bar {width: 79%;}
.dcm-animate-graphs .p-80 .progress-bar {width: 80%;}
.dcm-animate-graphs .p-81 .progress-bar {width: 81%;}
.dcm-animate-graphs .p-82 .progress-bar {width: 82%;}
.dcm-animate-graphs .p-83 .progress-bar {width: 83%;}
.dcm-animate-graphs .p-84 .progress-bar {width: 84%;}
.dcm-animate-graphs .p-85 .progress-bar {width: 85%;}
.dcm-animate-graphs .p-86 .progress-bar {width: 86%;}
.dcm-animate-graphs .p-87 .progress-bar {width: 87%;}
.dcm-animate-graphs .p-88 .progress-bar {width: 88%;}
.dcm-animate-graphs .p-89 .progress-bar {width: 89%;}
.dcm-animate-graphs .p-90 .progress-bar {width: 90%;}
.dcm-animate-graphs .p-91 .progress-bar {width: 91%;}
.dcm-animate-graphs .p-92 .progress-bar {width: 92%;}
.dcm-animate-graphs .p-93 .progress-bar {width: 93%;}
.dcm-animate-graphs .p-94 .progress-bar {width: 94%;}
.dcm-animate-graphs .p-95 .progress-bar {width: 95%;}
.dcm-animate-graphs .p-96 .progress-bar {width: 96%;}
.dcm-animate-graphs .p-97 .progress-bar {width: 97%;}
.dcm-animate-graphs .p-98 .progress-bar {width: 98%;}
.dcm-animate-graphs .p-99 .progress-bar {width: 99%;}
.dcm-animate-graphs .p-100 .progress-bar {width: 100%;}
