form {
  position: relative;
}
.form-section {
	position: relative;
	overflow: hidden;
	display: block;
}

.tli-form-fields-hide {
  display: none !important;
}

.form-hidden {
  display: none !important;
}

.label {
  padding: 0.2em 0.6em 0.3em;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.label img {
  pointer-events: none;
}

.label-spacer {
  display: none;
}

.form-inline {
  display: initial;
  position: absolute;
  left: 0;
  margin-left: 0;
  font-weight: 300;
  overflow: hidden;
  width: 100%;
  top: 0px;
}

.form-thank-you {
  display: inline;
}

.form-thank-you a {
  color: #fff;
  font-weight: 600;
}

.sun-select-container {
  width: 100%;
  height: 6rem;
  margin-top: 0;
}

select[multiple] {
  height: auto;
  font-size: 2rem;
  padding-bottom: 0rem;
}

select option {
  padding-left: 3rem;
  padding-right: 3rem;
}

.sun-select-container > span {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.17px;
  padding-top: 1.8rem;
}

.sun-select-container > span:empty {
  margin-top: 0.93rem;
}

.sun-select-container > span:after {
  margin-top: -0.7rem;
}

.column_divider .formtext {
  display: inline;
}

.form-group__example {
  display: none;
}

.tli-form-zip,
.tli-form-state {
  display: inline-block;
}

.form-thank-you {
  position: relative;
  left: 2500px;
  transition: 2s;
  margin-left: 0;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  display: inline;
  margin-top: 0;
}

.slide-in-right {
  transition: 2s;
  left: 0px;
}

.slide-out-bottom {
  transition: 2s;
  top: 600px !important;
}

.js-form-group {
  position: relative;
  top: 0px;
  transition: 2s;
  z-index: 1;
}

.button-trans-style {
  position: relative;
  top: 0px;
  transition: 2s;
  z-index: 1;
}

.section.container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.label-spacer {
  display: block;
  height: 2.16rem;
}

@media screen and (min-width: 380px) and (max-width: 508px) {
  .tli-form-state .js-form-group.is-invalid {
    margin-bottom: 7.3rem;
  }
}

@media screen and (min-width: 509px) {
  .tli-form-state .js-form-group.is-invalid {
    margin-bottom: 6.3rem;
  }
}

.options .js-form-group.is-invalid .form__error-message {
  top: 1.15rem !important;
}

@media screen and (max-width: 767px) {
  .js-form-group {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 499px) {
  .tli-form-state {
    width: 33.49%;
  }
  .tli-form-zip {
    width: 65%;
  }
}

@media screen and (max-width: 360px) {
  .tli-form-state {
    width: 100%;
  }
  .tli-form-zip {
    width: 100%;
  }
  .js-fieldset-input-wrapper:not(:first-child) {
    margin-left: 0.2rem !important;
  }
}

@media screen and (min-width: 500px) and (max-width: 572px) {
  .tli-form-state {
    width: 35.49%;
  }
  .tli-form-zip {
    width: 63%;
  }
}

@media screen and (min-width: 573px) and (max-width: 767px) {
  .tli-form-zip {
    width: 62%;
  }
  .tli-form-state {
    width: 35.49%;
  }
  .tli-form-business,
  .tli-form-city,
  .tli-street-address,
  .tli-first-name,
  .tli-last-name,
  .tli-phone,
  .tli-email {
    width: 98.5%;
    display: inline-block;
    flex: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .tli-form-zip {
    width: 69%;
    margin-left: 2.7rem;
  }
  .tli-form-state {
    width: 25%;
  }
}

@media screen and (min-width: 992px) {
  .form-section {
    display: inline-flex;
    width: 100%;
  }
  .tli-form-zip {
    width: 32.3%;
  }
  .tli-form-state {
    width: 15.5%;
  }
  .tli-form-business,
  .tli-form-city,
  .tli-street-address,
  .tli-first-name,
  .tli-last-name,
  .tli-phone {
    flex: 1;
  }
  .tli-email {

  }
}

@media screen and (min-width: 768px) and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
  .tli-last-name,
  .tli-form-city {
    position: relative;
    top: 11.95rem;
  }
}

input[type="checkbox"],
input[type="radio"] {
  margin-top: 0;
}

.js-form-group__example.form-group__example {
  display: none;
}

.js-form-group {
  margin-bottom: 2.125rem;
  margin-right: 3.125rem;
}

.js-form-group input.js-input {
  height: 6rem;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.17px;
  padding-left: 1.2rem;
  opacity: 1;
  width: 100%;
}

.js-form-group input[type="checkbox"] {
  background: #c9c9c9 0 0 no-repeat padding-box;
  margin-bottom: 0;
  padding-right: 1.1875rem;
  height: 1.5rem;
  width: 1.5rem;
}

.js-form-group textarea {
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  opacity: 1;
  width: 97%;
  overflow-x: hidden;
  height: 14rem;
}

.fieldset--inline,
.fieldset-input-wrapper {
  display: inline-block;
}

.js-fieldset-input-wrapper {
  display: inline-block;
}

.js-form-group input[type="checkbox"] ~ label.js-label {
  font-weight: 400;
}

.relative-container {
  position: relative;
  width: 100%;
  height: 0;
}

.relative-container label.js-label {
  position: absolute;
  left: 0.49rem;
  top: -6rem;
}

.js-form-group label {
  text-align: left;
  letter-spacing: 0.47px;
  color: #2e1a47;
  opacity: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

input.js-input:focus ~ div.relative-container > label.js-label {
  opacity: 1;
}

.js-form-group h3 {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  padding-left: 0;
  letter-spacing: 0;
  color: #7c6992;
  opacity: 1;
}

.lx-button {
  background: #b0e0e2;
  border: 0;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
  font-size: 1.8rem;
  padding: 20px 45px;
  letter-spacing: 0.38px;
  color: #2e1a47;
  margin-top: 0;
  z-index: 1;
  position: relative;
}

.lx-button:hover {
  background: #fff;
  color: #2e1a47;
}

input[type="file"] {
  height: 27px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

label.js-label--fieldset {
  text-align: left;
  display: inline;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  padding-left: 1.1875rem;
  color: rgba(0, 0, 0, 0.8);
  /*#000000CC*/
  font-family: initial;
  opacity: 1;
}

.js-fieldset-input-wrapper:not(:first-child) {
  margin-left: 4.2rem;
}

legend.fieldset__legend {
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
  color: #7c6992;
  opacity: 1;
  font-weight: 600;
  border-bottom: none;
  margin-bottom: 2.925rem;
}

.column_divider .formtext:not(:first-child) .js-form-group {
  margin-top: 3.225rem;
}

fieldset.js-form-validation-group {
  padding: 0;
}

.js-form-group.is-invalid {
  margin-bottom: 4.6rem;
}

.js-label-title {
  margin-bottom: 3.225rem;
  margin-top: 0;
}

.form__error-message {
  background: #d0181b 0 0 no-repeat padding-box;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0;
  color: #ffffff;
  position: absolute;
  top: 0.85rem;
  padding: 0.7rem 11% 0.5rem 1.2rem;
  z-index: 3;
  opacity: 1;
  line-height: 1em;
}

.form__error-message::before {
  z-index: -1;
}

.form__error-message::before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #d61d00;
  clear: both;
}

.error-message-text svg {
  position: relative;
  top: -0.3rem;
  margin-right: 0.8rem;
}

.js-form-group input.js-input:focus {
  height: 6.6625rem;
  padding-bottom: 0;
  border: 2px solid #2e1a47;
  opacity: 1;
}

.js-form-group input.is-invalid {
  border: 2px solid #d0181b;
}

.js-form-group input::placeholder,
textarea::placeholder {
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.17px;
  color: #707070;
  opacity: 1;
  position: relative;
  top: -0.2rem;
}

textarea::-webkit-input-placeholder {
  position: relative;
  top: 1.75rem;
  left: 1.2rem;
}

[type="text"],
[type="textarea"],
[type="email"],
[type="tel"],
[type="search"],
[type="url"],
[type="password"] {
  display: block;
  width: 100%;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #cfcfcf;
  padding: 10px 0 10px 10px;
  color: #333;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity;
  opacity: 0;
}

.g-recaptcha {
  position: relative;
}
