/* HOME PAGE */

.download-link:after{
    background-image: url(../../truist-bank/us/en/icons/code/icon-download.svg);
    background-size: contain;
    height: 2.4rem;
    width: 2.4rem;
    margin-left: 0.5rem;
    position: relative;
    top: 0.5rem;
    display: inline-block;
}

.securities-home-card {
    border-radius: 1.5rem;
    overflow: hidden;
    border: 1px solid #DBDBDB;
}
.securities-home-card .genCarousel-Img.right {
    float: none;
    width: 100%;
}
.securities-home-card .carousel-caption.genCarousel-contentSec {
    width: 100%;
    margin: 0px!important;
    padding: 2rem!important;
}

.securities-home-card h2, .securities-home-card h3 {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 1rem;
}


.securities-home-card .genCarousel-content {
    font-size: 1.8rem;
}
.securities-home-card .genCarousel-content p{
    margin-bottom:0px;
}


.securities-home-card .genCarousel-button {
    font-size: 1.5rem;
    font-weight:bold;
    color: #2e1a47;
    background: #ffffff;
    border: 2px solid #2e1a47;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none!important;
    margin-right: 0px;
    width: max-content;
    border-radius:10px;
}


.securities-home-card .genCarousel-button:hover, .securities-home-card .genCarousel-button:active {
		color: #56387E;
    background: #F0ECF8;
    border: .2rem solid #56387E;
}

.cta__color--amethyst-purple .global-cta-btn a:hover, .cta__color--amethyst-purple .global-cta-btn a:active{
		background: #56387E;
    color: #FFFFFF;
    border: .2rem solid #56387E;
}

.cta .global-cta-btn .gl-align-center{
		margin-left:auto;
		margin-right:auto;
}


.primary-button a{
		background: #72569C!important;
    color: #FFFFFF!important;
    border: .2rem solid #72569C!important;
    max-width: fit-content;
}
.primary-button a:hover, .primary-button a:focus, .primary-button a:active{
		background: #56387E!important;
    color: #FFFFFF!important;
    border: .2rem solid #56387E!important;
}

.secondary-button a{
		background: transparent;
    color: #72569C;
    border: .2rem solid #72569C;
    max-width: fit-content;
}
.secondary-button a:hover, .secondary-button a:active, .secondary-button a:focus{
    color: #56387E;
    background: #F0ECF8;
    border: .2rem solid #56387E;
}


.securities-home-card-purple-paper .genCarousel-Img.right {
    width: 50%;
    float: left;
}
.securities-home-card-purple-paper .carousel-caption.genCarousel-contentSec {
    width: 50%;
    margin: 0px!important;
    padding-top:0px;
}
.securities-home-card-purple-paper h2, .securities-home-card-purple-paper h3 {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 1rem;
}

.securities-home-card-purple-paper .genCarousel-SubHeading:after {
    content: "SM";
    font-size: 50%;
    vertical-align: top;
}
.securities-home-card-purple-paper .genCarousel-MainHeading {
    font-size: 2rem;
    line-height: 2rem;
}
.securities-home-card-purple-paper .cta .global-cta--link.right-rail-custom a {font-weight: 400;}
.trending-topics h3{
		font-weight:600;
}

.trending-topics .truist-global-staticcard-row {
    /*display: none;*/
    padding:1.5rem 0;
    border-bottom: 1px solid #cfcfcf;
}
.trending-topics .truist-global-staticcard-column, .trending-topics .truist-global-staticcard-column {
    border: 0px;
}
.trending-topics {
    margin-bottom: 1rem;
}

@media (min-width: 991px) {
		.herobanner .orion-hero-carousel__panel__content span.orion-hero-text-color--white:not(.pre-heading){
				font-size:6rem;
				line-height:6.6rem;
		}
}

.securities-home-cards-container>div {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 2rem;
}
.securities-home-cards-container>div:before{
		display:none;
}
.securities-home-cards-container>div .staticcard {
    width: 100%;
    min-width: 100%;
}


@media (max-width: 1024px) {
		.home-intro-grid-layout .aem-Grid.aem-Grid--default--24 > .aem-GridColumn.aem-GridColumn--default--15, .home-intro-grid-layout .aem-Grid.aem-Grid--default--24 > .aem-GridColumn.aem-GridColumn--default--8 {
    		width: 47%;
		}
		.securities-home-cards-container>div {
		    grid-template-columns: 50% 50%;
		}
}
@media (max-width: 768px) {
		.home-intro-grid-layout .aem-Grid.aem-Grid--default--24 > .aem-GridColumn.aem-GridColumn--default--15, .home-intro-grid-layout .aem-Grid.aem-Grid--default--24 > .aem-GridColumn.aem-GridColumn--default--8, .aem-Grid.aem-Grid--default--24 > .aem-GridColumn.aem-GridColumn--default--8 {
    		width: 100%;
		}
		.home-intro-grid-layout .aem-Grid.aem-Grid--default--24 > .aem-GridColumn.aem-GridColumn--default--8 {
				margin-top:4rem;
		}

}
@media (max-width: 60px) {
		.securities-home-cards-container>div {
		    grid-template-columns: 100%;
		}
}

/* END HOME PAGE */


.text__list__style--check ul li:not(.text__list__style--check ul li li)::before{
	    background-image: url(../../truist-bank/us/en/icons/icon-checkmark-midnightpurple-fill.svg);
}


.industry-secondary-purple-container{
		background:#2E1A47;
}
.white-check-list ul li:not(.text__list__style--check ul li li)::before{
		background-image: url(../../truist-bank/us/en/icons/icon-checkmark-white-fill.svg);	
}

.industry-connect-container img{
		    border-radius: 2rem;
    		max-width: 30%;
}
.industry-connect-container.securities-contact-card a{
			color:#A6A3E0;
}
.industry-transaction-cards-container>div {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap:5%;
}
.industry-transaction-cards-container>div:before{
		display:none;
}


.smaller-icon{
	padding-right:2rem;
}
.smaller-icon .truist-global-staticcard-img{
			width:4rem;
}
.smaller-icon .truist-global-staticcard-img{
		height:4rem;
}
.smaller-icon .truist-global-staticcard-row:not(:last-child){
		margin-bottom:10px;
}

.aem-Grid.aem-Grid--default--24 > .aem-GridColumn.aem-GridColumn--default--6 {
    padding-right: 2rem;
}

.leader-title-sub-heading h2{
		font-size:3rem;
}

.dll-pagination-container .text-center .pagination{
		width:max-content;
		    max-width: fit-content;
}

.securities-leadership-card {
		display:block;
		height:100%;
		position:relative;
}

.securities-leadership-card-container>div {
    display: grid;
		grid-template-columns: 47.5% 47.5%;
    grid-gap: 5%;
}
.securities-leadership-card-container .aem-Grid.aem-Grid--24.aem-Grid--default--24:before{
		display:none;
}
.securities-leadership-card-container .truist-global-staticcard-button-bottom {
    margin-top: auto;
    position: absolute;
    bottom: 0px;
    width:100%;
}
.securities-leadership-card-container .cta.button.aem-GridColumn--default--none.aem-GridColumn.aem-GridColumn--default--24.aem-GridColumn--offset--default--0 {
    max-width: 100%;
    padding-bottom:0px;
    /*padding-left:30px;*/
}
.securities-leadership-card .truist-global-staticcard-icon-img{
		width:100%;
		max-width:220px;
}
.securities-leadership-card-container .aem-Grid.aem-Grid--default--24 > .aem-GridColumn.aem-GridColumn--default--11 {
    width: 100%;
    margin-left:0px;
}
.securities-leadership-card div:nth-child(2) {
    float: left;
    width: 40%;
    max-width:220px;
    margin-right:2rem;
    margin-left:30px;
}
.securities-leadership-card .truist-global-staticcard-content-padding{
		padding-left:0px;
}
.securities-leadership-card div:nth-child(3) {
    margin-bottom: 10px;
    margin-top: 10%;
}
.securities-leadership-card div:nth-child(5) {
    display: inline-block;
    margin-bottom:0px;
}
.securities-leadership-card .truist-global-staticcard-content-padding{
			padding-right:unset;
}
.securities-leadership-card h2 {
    font-size: 3rem;
    line-height:3rem;
    font-weight: 400;
    text-transform: none;
}
.securities-leadership-card h3 {
    font-size: 2rem;
}


.three-card-row-container>div:before {
    display: none;
}
.three-card-row-container>div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3rem;
}
.three-card-row-container>div>div {
    width: 100%!important;
    max-width: 100%;
}

.securities-contact-card h3{
		    font-size: 3rem;
    line-height:3rem;
    font-weight: 400;
    margin-bottom:1rem;

}
.securities-contact-card p{
		margin-bottom:1rem;
}


.securities-card-list-no-icon .truist-global-staticcard-row:nth-child(1) {
    display: none;
}
.securities-card-list-no-icon .static-card__custom--bg-color--midnight-purple--header .truist-global-staticcard-cardtitle{
		padding-bottom:1rem;
		text-align:left;
}
.securities-card-list-no-icon .static-card__custom--bg-color--midnight-purple--header .truist-global-staticcard-row:nth-child(2){
		margin-bottom:1rem;
}

.equity-research-container .truist-staticcard.truist-global-staticcard-column.truist-global-staticcard-column-transparent {
    padding-bottom: 0px;
}

.equity-research-outer-container>div>div{
		width:92%!important;
}
.equity-research-container hr {
    border-top: 2px solid #C9C9C9;
}
.equity-research-container .truist-global-staticcard-column{
		    max-width: 100%;
    width: 100%;
}
.industry-transaction-cards-container>div {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap:5%;
}
.industry-transaction-cards-container>div:before{
		display:none;
}
.industry-transaction-cards-container>div>div{
		min-width:100%;
		display:grid!important;
}
.industry-transaction-cards-container>div>div>div {
    width: 100% !important;
    max-width: 100%;
    padding: 3rem;
    margin: 0px !important;
    border-radius: 3rem;
    border: solid 2px #c9c9c9;
}
.industry-transaction-cards-container img.truist-global-staticcard-img {
    display: none;
}
.industry-transaction-cards-container>div>div>div>div:nth-child(3) {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0px;
}
.industry-transaction-cards-container img {
    margin-top: 1.8rem;
}
.industry-transaction-cards-container .truist-global-staticcard-icon.truist-global-staticcard-content-padding, .industry-transaction-cards-container .truist-global-staticcard-card-cta-button.truist-global-staticcard-content-padding {
    padding: 0px;
}
.industry-transaction-cards-container h2 {
    font-size: 2.4rem;
    font-weight: 400;
}
.industry-transaction-cards-container h3 {
    font-size: 1.8rem;
    font-weight: 400;
    padding:0px;
}
.industry-transaction-cards-container>div>div>div>div p {
    font-size: 2.25rem;
    font-weight: 700;
    padding:0px;
}
.industry-transaction-cards-container .transaction-date p{
		font-size:1.8rem;
		font-weight:400;
}

.securities-industry-card-container>div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2rem;
}
.securities-industry-card-container>div:before {
		display:none;
}
.securities-industry-card-container .staticcard {
    min-width: 100%;
    margin-left:0px!important;
    display:inline-grid!important;
}
.securities-industry-card-container .truist-global-staticcard-column{
		padding-bottom:1rem;
}

@media (max-width: 1023px) {
		.securities-industry-card-container .truist-global-staticcard-column{
					max-width: 100%;
    			width: 100%;
    			margin-top: 0px;
		}
}

@media (max-width: 960px) {
			.industry-transaction-cards-container>div {
			    display: grid;
			    grid-template-columns: 45% 45%;
			    grid-gap:5%;
			    margin-bottom:5rem;
			}
}
@media (max-width: 768px) {
			.industry-transaction-cards-container>div {
			    display: grid;
			    grid-template-columns: 80%;
			    grid-gap:3%;
			    justify-content:center;
			    margin-bottom:10rem;
			}
			.securities-industry-card-container>div {
    		display: grid;
    		grid-template-columns: 100%;
    		grid-gap: 2rem;
			}

}


.dll-transactions .apply-reset-button input:nth-child(1) {
    background: #7C6992;
    border: 2px solid #7C6992;
    color: #fff;
    border-radius:10px;
}
.dll-transactions .apply-reset-button input:nth-child(1):hover, .dll-transactions .apply-reset-button input:nth-child(1):active{
		background: #AFABC9;
    border: 2px solid #AFABC9;
    color: #2e1a47;
    font-weight:inherit;
}

.dll-transactions .apply-reset-button input:nth-child(2) {
    display: block;
        border: none;
    font-size: inherit;
    text-decoration: underline;
}
.dll-transactions .apply-reset-button input:hover, .dll-transactions .apply-reset-button input:focus{
		background:transparent;
		color:inherit;
		font-weight:inherit;
		text-decoration:none;
}
.dll-transactions .card-deck.page.page-active{
		display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 3rem;
    grid-column-gap:5%;
}
.dll-transactions .tombstone-container {
    width: 100% !important;
    max-width: 100%;
    padding: 3rem;
    margin: 0px !important;
    border-radius: 3rem;
    border: solid 2px #c9c9c9;
}
.dll-transactions .tombstone-container:nth-child(3n){
		border-right: solid 2px #c9c9c9;	
}
.dll-transactions .tombstone-card-title{
		top:3rem;
}
.dll-transactions .tombstone-photo{
		margin-top:3rem;	
}
.dll-transactions .tombstone-list-item {
    position: absolute;
}
.dll-transactions .tombstone-list-item {
    font-size: 2.25rem;
    font-weight: 700;
}

.dll-transactions .dll-filter-dropdowns:after{
		top:28%;
}

.dll-transactions .pagination li:first-child, .dll-transactions .pagination li:last-child{
	display:inherit;
}
.dll-transactions ul.pagination .first, .dll-transactions ul.pagination .prev, .dll-transactions ul.pagination .next, .dll-transactions ul.pagination .last{
		border:none;
		background:transparent;
		visibility: hidden;
		width:0px;
}
.dll-transactions ul.pagination .first:before, .dll-transactions ul.pagination .prev:before {
    content: "<";
        font-size: 2.25rem;
    line-height: 1.25rem;
    visibility:visible;
}
.dll-transactions ul.pagination .next:before, .dll-transactions ul.pagination .last:before{
    content: ">";
        font-size: 2.25rem;
    line-height: 1.25rem;
    visibility:visible;
}
.dll-transactions .pagination li {
    flex: 1;
    margin: 0 6px;
}
.grid__bg-color--midnight-purple.grid__margin-top-none-mobile{
			margin-top: 0px!important;
    margin-bottom: 0px!important;
}

.cta .global-cta--link [data-wa-linktype="download" i]::after, .cta .global-cta--link [data-wa-linktype="download" i]:hover:after, .cta .global-cta--link:hover:focus > [data-wa-linktype="download" i]:hover:after {
    background-image: url(../../truist-bank/us/en/icons/code/icon-download.svg)!important;
    background-size: contain!important;
    height: 2.4rem;
    width: 2.4rem;
    margin-left: .5rem;
    position: relative;
    top: .5rem;
    display: inline-block!important;
}

.disclosure-accordion .button-margin{
		/*margin: 0px;*/
}

.disclosure-accordion .btn{
		margin-bottom:0px;
		text-align:left;
}

.disclosure-accordion .btn .accordion-text{
		padding-left: 1em;
    text-indent: -1em;
}
.disclosure-accordion [class*=" truist--icon-"]:before{
		width:0px;
}
.disclosure-accordion .btn-primary:hover, .disclosure-accordion .btn-primary:focus, .disclosure-accordion .btn-primary:active, .disclosure-accordion .btn-primary:active:focus{
		background-color: transparent !important;
    color: #2e1a47 !important;
    text-decoration: underline !important;
}
.disclosure-accordion .btn-primary:hover .accordion-text, .disclosure-accordion .btn-primary:hover .accordion-text:before, .disclosure-accordion .btn-primary:hover .accordion-text:after, .disclosure-accordion .btn-primary:focus .accordion-text, .disclosure-accordion .btn-primary:focus .accordion-text:before, .disclosure-accordion .btn-primary:focus .accordion-text:after{
			color:#2e1a47!important;
}
.brc-xf-container{
		margin-top:10rem;
		margin-bottom:10rem;	
}
.brc-xf-container p, .brc-xf-container h2, .brc-xf-container h3{
		text-align:center;
}

@media (max-width: 1200px) {
		.purple-row-no-margin>div{
				display:flex;
		}
		.purple-row-no-margin>div>div{
				margin-left:auto!important;
				margin-right:auto!important;
		}
		.dll-transactions .card-deck.page.page-active{
				display: grid;
		    grid-template-columns: 47.5% 47.5%;
		    grid-row-gap: 3rem;
		    grid-column-gap:5%;
		}
		.dll-transactions .tombstone-container:nth-child(2n){
				border-right: solid 2px #c9c9c9;	
		}

}

@media (max-width: 1024px) {
		.aem-Grid.aem-Grid--default--24 > .aem-GridColumn.aem-GridColumn--default--6{
					  padding-right: 2rem;
    				width: 48%;
		}
		.securities-leadership-card-container .aem-Grid.aem-Grid--default--24 > .aem-GridColumn.aem-GridColumn--default--11 {
    		width: 100%;
    		margin-left:0px;
		}
		.securities-leadership-card {
				width:100%;
				max-width:100%;
		}
		.securities-leadership-card-container>div{
				display:block;
		}
		.equity-research-container .truist-global-staticcard-column{
		    max-width: 100%;
    		width: 100%;
		}
		.industry-connect-container img{
		    border-radius: 2rem;
    		max-width: 40%;
		}

}
@media (max-width: 768px) {
		.smaller-icon div.truist-global-staticcard-row:nth-child(1){
				float:none!important;
				margin-right:unset!important;
				margin-bottom:10px!important;
		}
		.smaller-icon div.truist-global-staticcard-row:not(:first-child){
				margin-left:0px!important;
				margin-bottom:10px!important;
		}

		.smaller-icon .truist-global-staticcard-img{
					width:4rem;
		}
		.smaller-icon .truist-global-staticcard-img{
				height:4rem;
		}	
		.aem-Grid.aem-Grid--default--24 > .aem-GridColumn.aem-GridColumn--default--6{
					  padding-right: 2rem;
    				width: 98%;
		}
		.three-card-row-container>div {
    		display: block;
		}
		.securities-leadership-card-container img {
    		max-width: 220px;
		}
		.equity-research-container .aem-Grid.aem-Grid--phone--24 > .aem-GridColumn.aem-GridColumn--offset--phone--1{
				margin-left:0px;
		}
		.dll-transactions .card-deck.page.page-active{
				display: grid;
		    grid-template-columns: 100%;
		    grid-row-gap: 3rem;
		    grid-column-gap:0px;
		}
		.dll-transactions .tombstone-card-title{
				margin-left:-3rem;
		}
		.dll-transactions .tombstone-list-item{
				position:relative;
		}
				.industry-connect-container {
    		margin-top: 4rem;
		}

		.industry-connect-container img{
		    border-radius: 2.8rem;
		}
}

@media (max-width: 600px) {
		.industry-connect-container img{
		    border-radius: 2.8rem;
    		max-width: 60%;
		}
}
@media (max-width: 450px) {
		.securities-leadership-card div:nth-child(2){
				float:none;
		}
		.securities-leadership-card div:nth-child(3), .securities-leadership-card div:nth-child(4) {
				margin-left:30px;
		}
}

.subpage-navigation .subpage-nav li:nth-child(1).subpage-nav-item.active .subpage-nav-link {
    border: 0;
}
.grid__bg-color--midnight-purple-alternative {border-radius: 0!important;}
/*.sec-nav-hero {margin-top: -.7rem;}*/
/* custom subpage nav  */
.subpage-mobile-cta {display: none !important;}
.cta-dropdown-container {display: none;}

/* custom item slider styles */
.tru-one-slider .tru-one-slider-thumb-text {
    font-size: 1.6rem;
    line-height: 1.25em;
}
@media only screen and (max-width: 1365px) {
    .special-product-slider-1366,
    .tru-one-product-list-static {display: none !important;}
    .special-product-slider-1365,
    .tru-one-slider {display: block !important;}
}
@media only screen and (min-width: 1366px) {
    .special-product-slider-1365,
    .tru-one-slider {display: block !important;}
	.special-product-slider-1366,
    .tru-one-product-list-static {display: none !important;}
}

@media (min-width: 768px) and (max-width: 1365.98px) {
.tru-one-slider {
    max-width: 100%;
    padding: 0;
}
}

.splide--draggable>.splide__track>.splide__list>.splide__slide {
    width: 135px !important;
    height: 135px !important;
}

.tru-one-slider .splide__list {
    margin: 10px 0 10px 10px;
}